<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>The increasing availability of data is a boon for supporting evidence based policy making and advocacy. A good visualization of data can simplify complex topics and shift opinion. But without rigorous methods and clear interpretation, the glut of data can be obfuscating rather than illuminating. </p> 
        <p>Advocacy organizations are well positioned to influence policy and the public good through the use of research but often lack staff with the appropriate data science expertise to do original analysis. Data scientists can be difficult to hire, or once hired, to retain and kept busy with sufficient work. 
</p>
      </div>
      <div class="col-lg-4">
        <p> Data science consulting tailored toward the public interest solves this problem by offering the right knowledge and expertise for projects of limited scope. This also allows a more efficient use of data science expertise as consultants will be exposed to a variety of subject areas and develop skills that enable them to identify opportunities to leverage data in support of organizational goals. </p>
        <p>Our team offers a unique mix of interdisciplinary skills, with both technical expertise and hands on data science experience as well as a background in policy and communicating discipline specific knowledge to a general audience. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
